<a href="https://colab.research.google.com/github/Oldas1984/-/blob/main/Untitled0_ipynb_dz1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

поменяй местами значение 2 переменых

In [28]:
print("")
a=int(input())
b=int(input())
c=a
d=b
print(c)
print(d)

4
5
4
5

дано трехзначное число Найдите произведение их цифр

In [32]:
print("")
a=int(input())
b=a//100
c=a%10
d=(a-100*b-c)/10
x=b*c*d
print(x)

342
24.0

даны 2 трехзначных числа Найти шестизначное число, щбразованое из двух данных чисел путем дописывание второго числа к первому

In [34]:
print("")
a=int(input())
b=int(input())
c=1000*a+b
print(c)

453
654
453654

дано трехзначное число , замените среднее цифру на 0

In [35]:
print("")
a=int(input())
b=a//100
c=a%10
x=100*b+c
print(x)

678
608

дано трехзначное число, выведети на экран новое число , полученоное из исходного путем перестановки цифр в обратном порядке

In [36]:
print("")
a=int(input())
b=a//100
c=a%10
d=(a-100*b-c)/10
x=100*c+b+10*d
print(x)

764
467.0