<a href="https://colab.research.google.com/github/Oldas1984/-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Написать функцию, которая вычисляет среднее арифметическое элементов массива, переданного ей в качестве аргумента.

In [4]:
array=(1,2,3,4,5,6,7)
a = len(array)
def result():
    c = 0
    for i in range (a):
        c += array[i]
    s = c / a
    return s
print(result())

4.0

Написать две функции, которые будут переводить из десятичной СС в двоичную и обратно.

In [9]:
a = int(input()) 
b = ''
while a > 0:
    b = str(a % 2) + b
    a = a // 2
 
print(b)

17
10001

Пользователь делает вклад в размере a рублей сроком на years лет под 10% годовых (каждый год размер его вклада увеличивается на 10%. Эти деньги прибавляются к сумме вклада, и на них в следующем году тоже будут проценты).

In [28]:
def bank():
    x = 10
a = int(input())
years = int(input())
    for i in range(years):
n = int(a+x*a/100)
print(n)

Даны четыре действительных числа: x1, y1, x2, y2. Напишите функцию distance(x1, y1, x2, y2), вычисляющая расстояние между точкой (x1,y1) и (x2,y2). Считайте четыре действительных числа и выведите результат работы этой функции.

In [41]:
def distance():
    return ((x1-x2)**2 + (y1-y2)**2)**0.5
x1 = float(input())
x2 = float(input())
y1 = float(input())
y2 = float(input())
print(distance())

Дано действительное положительное число a и целоe число n.
Вычислите a^n. Решение оформите в виде функции power(a, n).
Стандартной функцией возведения в степень пользоваться нельзя.
Учтитье, что n может быть отрицательным.

In [39]:
def power():
    s = 1
    for i in range(abs(n)):
        s *= a
    if n >= 0:
        return s
    else:
        return float(1/s)
a = int(input())
n = int(input())
print(power())

1
2
1

3аписать функцию is_prime, принимающую 1 аргумент — число от 0 до 1000, и возвращающую True, если оно простое, и False - иначе.

In [ ]:
def is_prime():
   if n < 2:
       return False
   if n == 2:
       return True
   i = 2
   while i <= n**(1/2):
       if n % i == 0:
           return False
       i += 1
   return True
n = int(input())
print(is_prime())