<a href="https://colab.research.google.com/github/Oldas1984/-/blob/main/Untitled0_ipynb_dz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Написать калькулятор для вычисления дискриминанта. На вход подаются коэффициенты квадратного уравнения, выход - значение дискриминанта.

In [1]:
print("")
a=int(input())
b=int(input())
c=int(input())
D1=(-b+((b*b-4*a*c)**0.5))/(2*a)
D2=(-b-((b*b-4*a*c)**0.5))/(2*a)
print(D1)
print(D2)

4
5
6
(-0.6249999999999999+1.0532687216470449j)
(-0.6250000000000001-1.0532687216470449j)

По данному целому числу N распечатайте все квадраты натуральных чисел, не превосходящие N, в порядке возрастания.

In [5]:
print("")
N=int(input())
i=1
while i**2<=N:
    print(i**2)
    i+=1

16
1
4
9
16

Дано целое число, не меньшее 2. Выведите его наименьший натуральный делитель, отличный от 1.

In [8]:
print("")
n = int(input())
i = 2
while n % i != 0:
    i += 1
print(i)

2
2

Последовательность Фибоначчи определяется так:
f_0 = 0,  f_1 = 1,  f_n = f_{n−1} + f_{n−2}
По данному числу n определите n-е число Фибоначчи f_n.

In [ ]:
print()
n=int(input())
if n==0:
    print(0)
else:
    a, b = 0, 1
    for i in range(2, n+1):
        a, b=b, a+b
    print(b)

Выведите все четные элементы списка. При этом используйте цикл for, перебирающий элементы списка, а не их индексы!

In [10]:
array = [1,2,3,4,5,6,7,8,9]
nums=array
for i in range(0, len(nums), 2):
    print(nums[i])

1
3
5
7
9

Дан список чисел. Если в нем есть два соседних элемента одного знака, выведите эти числа. Если соседних элементов одного знака нет — не выводите ничего. Если таких пар соседей несколько — выведите первую пару.

In [14]:
array = [1,2,2,3,4,4]
nums=array
nums_2=[]
for i in range(len(nums)):
    if nums[i]%2==0:
        print(nums[i])

2
2
4
4

Петя перешёл в другую школу. На уроке физкультуры ему понадобилось определить своё место в строю. Помогите ему это сделать. Программа получает на вход невозрастающую последовательность натуральных чисел, означающих рост каждого человека в строю. После этого вводится число X – рост Пети. Все числа во входных данных натуральные и не превышают 200. Выведите номер, под которым Петя должен встать в строй. Если в строю есть люди с одинаковым ростом, таким же, как у Пети, то он должен встать после них.

In [19]:
array =(200,190,175,175,165,160,155)
nums=array
n=0
x=int(input())
for i in range(len(nums)-1):
    if (x<nums[i] and x>nums[i+1]) or x==nums[i]:
        n=i+2
print(n)

156
7

Дан список, упорядоченный по неубыванию элементов в нем. Определите, сколько в нем различных элементов.

In [20]:
print()
b=[int(i) for i in input().split()]
raz=1
for i in range(0, len(b)-1):
    if b[i]!=b[i+1]:
        raz+=1
print(raz)

1 2 3 4 5 6
6

Дан список чисел. Выведите значение наибольшего элемента в списке, а затем индекс этого элемента в списке. Если наибольших элементов несколько, выведите индекс первого из них.

In [ ]:
inmax=0
print()
c=[int(i) for i in input().split()]
for i in range(1, len(c)):
    if c[i]>c[inmax]:
        inmax=i
print(c[inmax])
print(inmax)

Даные два вектора (списка), вычислить скалярное произведение

In [31]:
print()
d=[int(i) for i in input().split()]
r=[int(i) for i in input().split()]
f=d[0]*r[0]+d[1]*r[1]+d[2]*r[2]
print( f)

25 4 20
44 55 33
1980